/* Estilos para la barra de navegación */

nav {
    background-color: #1E134A;
    color: gold;
    padding: 1px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    flex: 1;
    text-align: left;
}

.logo {
    width: 120px;
    margin: 10px;
}

.title-container {
    flex: 6;
    text-align: left;
}

h1 {
    color: gold;
    font-family: 'Jomolhari', sans-serif; /* Usamos 'Jomolhari' como primera opción y sans-serif como alternativa */
    font-size: 24px;
    margin-top: 8px;
}


/* Estilos para hacerlo responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
    .logo-container,
    .title-container {
        flex: 1;
        text-align: center;
    }
    .logo {
        width: 100px;
    }
    h1 {
        font-size: 20px;
    }
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 200px;
    margin: 0 auto;
    padding: 10px;
}

/* Navbar */
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul.menu {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav ul.menu li a {
    text-decoration: none;
    color: #fff;
}

/* Estilo de la imagen de fondo */
.hero {
    background-image: url(Img/header.png);
    background-size: cover;
    text-align: center;
    padding: 280px 0; /* Agregado más espacio en la parte superior */
}


.hero h1 {
    position: relative;
    display: flex;
    letter-spacing: 5px;
    font-size: 40px;
    color: #f7fafd;
    font-weight: bold;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

/* Estilo del texto en el encabezado */
.hero p {
    letter-spacing: 5px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.18); /* Aplicar sombra de texto con bordes */
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Secciones */
.section {
    padding: 40px 0;
}

/* Estilos para el contenido de la historia y otros elementos */
.content {
    text-align: center;
}

.content h2 {
    font-size: 28px;
    color: #333;
    text-align: center;
}

.content p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
    text-align: center;
}

/* Estilo para el carrusel */
.carousel {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    justify-items: flex-start;
}

/* Estilo para las imágenes */
.carousel img {
    width: 350px;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    border: 4px solid #3b82c4;
    border-radius: 10px;
}

/* Mostrar solo la imagen actual */
.carousel img.visible {
    opacity: 1;
}

/* Estilo general para las cards */
.card {
    border: 3px solid #c4c4c4;
    border-radius: 8px;
    margin-bottom: 20px; /* Separación de 20px entre las cards */
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* Estilo específico para la card de Matrícula */
.card-documentacion {
    background-color: #b6e8f5;
}

/* Estilo específico para la card de Aceptación y confirmación */
.card-aceptacion {
    background-color: #e4e4e4; /* Color de fondo diferente */
}

/* Estilo específico para la card de Orientación y bienvenida */
.card-orientacion {
    background-color: #88f3c1;
}

/* Estilo de los títulos de las cards */
.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Estilo de los párrafos de las cards */
.card-paragraph {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 10px;
    color: #000000;
}

/* Estilo de las imágenes de las cards */
.card-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
    border-radius: 10px;
}

/* Estilos para el contenedor del contador */
#contador-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}

/* Estilos para el reloj digital */
.reloj-digital {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    font-size: 2rem;
    color: #fff;
    background-color: #519de4;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 1px;
}

/* Estilos para los números en el reloj digital */
.reloj-digital .contador-item {
    margin: 0 10px;
    text-align: center;
}

.reloj-digital .contador-item span {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}

.reloj-digital .contador-item span:last-child {
    font-size: 0.8rem;
    font-weight: normal;
}

#fin {
    text-align: center;
    color: #000000;
    font-size: 2rem;
}

/* Footer */
footer {
    background-color: #1E134A;
    color: #fff;
    text-align: left;
    padding: 10px 0;
}

/* Barra de navegación pegajosa */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Estilos para la sección de historia */
#historia {
    padding: 30px; /* Espacio interior */
    text-align: center; /* Alineación del contenido */
}

.container {
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar en el medio de la página */
}

h2 {
    font-size: 28px; /* Tamaño de fuente para el encabezado */
    color: #333; /* Color del texto del encabezado */
}

p {
    font-size: 16px; /* Tamaño de fuente para el texto */
    color: #666; /* Color del texto */
    line-height: 1.6; /* Espaciado entre líneas */
}

img {
    max-width: 100%; /* Hacer que la imagen sea receptiva */
}

/* Animación JavaScript para la imagen */
img:hover {
    transform: scale(1.1); /* Escala la imagen al pasar el cursor sobre ella */
    transition: transform 0.3s ease; /* Transición suave de la animación */
}

/* Formulario de Consulta */
form {
    display: grid;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-size: 16px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/*acordeon*/

.acordeon {
    border: 1px solid #519de4;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .acordeon h4 {
    background-color: #519de4;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .acordeon .flecha {
    font-size: 1.5em; /* Tamaño de la flecha */
    color: #000000;
    transform: rotate(0deg); /* Flecha hacia abajo por defecto */
    transition: transform 0.2s ease-in-out; /* Transición suave */
  }
  
  .acordeon.active .flecha {
    transform: rotate(180deg); /* Girar la flecha hacia arriba cuando esté abierto */
  }
  
  .acordeon .contenido {
    padding: 10px;
    display: none;
    background-color: #ffffff;
  }
  
  .acordeon.active .contenido {
    display: block;
  }
  
  /*Cards*/
  .custom-card {
    width: 800px; /* Aumentamos el ancho de la tarjeta */
    height: 300px; /* Aumentamos la altura de la tarjeta */
    perspective: 1000px;
    margin: 20px;
    float: left;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid #000000;
}

.custom-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.custom-card:hover .custom-card-inner {
    transform: rotateY(180deg);
}

.custom-card-front,
.custom-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #3498db;
    color: #fff;
    overflow: hidden;
    text-align: center;
}

.custom-card-back {
    transform: rotateY(180deg);
    background-color: #ffffff;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    padding: 0 20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent; 
}



@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing:border-box;
  }
  
  :focus{
      outline: none;
  }
  
  body{
      background: #DBDBDB;
      font-family: 'Open sans';
  }
  
  /* FORMULARIO =================================== */
  
  .form_wrap{
      width: 1050px;
      height: 530px;
      margin: 50px auto;
      display: flex;
  
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Informacion de Contacto*/
  
  .cantact_info::before{
      content: '';
      width: 100%;
      height: 100%;
  
      position: absolute;
      top: 0;
      left: 0;
  
      background: #d8ce10;
      opacity: 0.9;
  }
  
  .cantact_info{
      width: 38%;
      position: relative;
  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      background-image: url('../T14_PaginaWeb/Img/header.png');
      background-size: cover;
      background-position: center center;
  
  }
  
  .info_title,
  .info_items{
      position: relative;
      z-index: 2;
      color: #fff;
  }
  
  .info_title{
      margin-bottom: 60px;
  }
  
  .info_title span{
      font-size: 100px;
      display: block;
      text-align: center;
      margin-bottom: 15px;
  }
  
  .info_title h2{
      font-size: 35px;
      text-align: center;
  }
  
  .info_items p{
      display: flex;
      align-items: center;
  
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
  }
  
  .info_items p:nth-child(1) span{
      font-size: 30px;
      margin-right: 10px;
  }
  
  .info_items p:nth-child(2) span{
      font-size: 50px;
      margin-right: 15px;
      margin-left: 4px;
  }
  
  
  /* Formulario de contacto*/
  form.form_contact{
      width: 62%;
      padding: 30px 40px;
  }
  
  form.form_contact h2{
      font-size: 25px;
      font-weight: 600;
      color: #303030;
      margin-bottom: 30px;
  }
  
  form.form_contact .user_info{
      display: flex;
      flex-direction: column;
  }
  
  form.form_contact label{
      font-weight: 600;
  }
  
  form.form_contact input,
  form.form_contact textarea{
      width: 100%;
      padding: 8px 0px 5px;
      margin-bottom: 20px;
  
      border: none;
      border-bottom: 2px solid #D1D1D1;
  
      font-family: 'Open sans';
      color: #5A5A5A;
      font-size: 14px;
      font-weight: 400;
  }
  
  form.form_contact textarea{
      max-width: 100%;
      min-width: 100%;
      max-height: 90px;
  }
  
  form.form_contact input[type="button"]{
      width: 180px;
      background: #ece340;
      padding: 10px;
      border: none;
      border-radius: 25px;
  
      align-self: flex-end;
  
      color: #fff;
      font-family: 'Open sans';
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
  }
  
  form.form_contact input[type="button"]:hover{
      background: #3371B6;
  }
  
  /* Ventana de errores*/
  .modal_wrap{
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,0.7);
  
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
  
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .mensaje_modal{
      background: #fff;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
      width: 400px;
      padding: 30px 20px 15px;
  }
  
  .mensaje_modal h3{
      text-align: center;
      font-family: 'Ubuntu';
      font-size: 20px;
      font-weight: 400;
  }
  
  .mensaje_modal h3:after{
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #C5C5C5;
      margin: 10px 0px 15px;
  }
  
  .mensaje_modal p{
      font-size: 16px;
      color: #606060;
  }
  
  .mensaje_modal p:before{
      content: "\f00d";
      font-family: FontAwesome;
      display: inline-block;
      color: #E25151;
      margin-right: 8px;
  }
  
  #btnClose{
      display: inline-block;
      padding: 3px 10px;
      margin-top: 10px;
  
      background: #E25151;
      color: #fff;
      border: 2px solid #B14141;
      cursor: pointer;
  
      float: right;
  }
  

  /* Estilos para el menú */
.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
    margin: 0 10px;
    text-align: center; /* Alinea el texto al centro */
    line-height: 40px; /* Alinea verticalmente el texto en el centro */
    text-decoration: none;
    border: 2px solid #3498db; /* Borde del botón */
    padding: 10px 20px;
    background-color: #3498db; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border-radius: 5px;
    transition: background-color 0.3s;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.menu-button:hover {
    background-color: #2980b9; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}
